In [1]:
import pandas as pd
import psycopg2
import pymssql
import geopandas as gpd
from shapely import wkt,wkb
from shapely.wkb import loads
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

from shapely.geometry import Polygon
import numpy as np, pandas as pd, shapely.vectorized
from shapely.geometry import Point, Polygon

import numpy as np
from sklearn.neighbors import KDTree
from sklearn.neighbors import BallTree

load_dotenv()

False

In [ ]:
# postgres db

# db : system
# tb : maholan_system_info
# user: system
# pass: FJNCEHfV

# host : 10.10.10.200:5432

In [17]:
asms_config = {
    'host' : os.environ.get("ASMS_MASTER_DATA_HOST"),
    'port' : os.environ.get("ASMS_MASTER_DATA_PORT"),
    'user' : os.environ.get("ASMS_MASTER_DATA_USER"),
    'password' : os.environ.get("ASMS_MASTER_DATA_PASS"),
    'database' : os.environ.get("ASMS_MASTER_DATA_DB")
}

print(asms_config)

{'host': None, 'port': None, 'user': None, 'password': None, 'database': None}

# import from database

In [4]:
db_connection_url = 'postgresql://system:FJNCEHfV@10.10.10.200:5432/system'
# db_connection_url = f"postgresql://{db_config['user']}:{db_config['password']}@{db_config['host']}:{db_config['port']}/{db_config['database']}"
# conn = create_engine(db_connection_url)
# conn = create_engine(database_url )
# db_connection_url = f"postgresql://{asms_config['user']}:{asms_config['password']}@{asms_config['host']}:{asms_config['port']}/{asms_config['database']}"
conn = create_engine(db_connection_url)
sql = "select * from server_info"
df_info = pd.read_sql_query(sql, conn)
df_info

,server_name,ip_address,hostname,server_type,operating_system,services_software,cpu_total,cpu_unit,memory_total,memory_unit,disk_total,disk_unit
0,360-Webserver-01,10.10.10.22,web1.bigdata.local,Virtual Server,Ubuntu 20.04 LTS,"Frontend , Nginx",8,core,8,GB,250,GB
1,360-Webserver-02,10.10.10.23,web2.bigdata.local,Virtual Server,Ubuntu 20.04 LTS,"Frontend , Nginx",8,core,8,GB,250,GB
2,Big Data Data node 1,10.10.10.14,cdhdn1.bigdata.local,Physical Server,Centos 7.9,"DataNode, Impala",24,core,128,GB,12,TB
3,Big Data Data Node 2,10.10.10.15,cdhdn2.bigdata.local,Physical Server,Centos 7.9,"DataNode, Impala",24,core,128,GB,12,TB
4,Big Data Data Node 3,10.10.10.16,cdhdn3.bigdata.local,Physical Server,Centos 7.9,"DataNode, Impala",24,core,128,GB,12,TB
5,CDH6-Master-Node-1,10.10.10.200,cdhmn1.bigdata.local,Virtual Server,Centos 7.9,"CM, Hue, Atlas, Ranger, Hive",16,core,64,GB,250,GB

# import data from GG Sheet

In [5]:
## sheet สถานภาพเครื่องแม่ข่าย_และอุปกรณ์ต่อพ่วง_PoPNix owner P'Pooooo

SHEET_ID = '14GmNx-6YkTfOSYfjQqGw-wC6h9VPqB3frw-ovtMTN5A'
SHEET_NAME = 'status'
url = f'https://docs.google.com/spreadsheets/d/{SHEET_ID}/gviz/tq?tqx=out:csv&sheet={SHEET_NAME}'
df = pd.read_csv(url)
df # print(df.head())

    No.            List Devices    Serial Number  Health Check  Clean Check
0     1         Private Cloud 1          9FRQ8F3          True         True
1     2         Private Cloud 2          BFRQ8F3          True         True
2     3         Private Cloud 3          CFRQ8F3          True         True
3     4    Big data Data node 1          DFRQ8F3          True         True
4     5    Big data Data node 2          FFRQ8F3          True         True
5     6    Big data Data node 3          GFRQ8F3          True         True
6     7        Frontend server1          DK0V8F3          True         True
7     8        Frontend server2          8GLRDT3          True         True
8     9           Backup Server          GGRQ8F3          True         True
9    10     Network L3 Switch 1           HPP363          True         True
10   11     Network L3 Switch 2          CHSP363          True         True
11   12       Network L2 Switch          7DDQ363          True         True
12   13  Deep Learning Server 1  A291427X1705308          True         True
13   14  Deep Learning Server 2  A291427X1705312          True         True