In [1]:
import pandas as pd
import psycopg2
import pymssql
import geopandas as gpd
from shapely import wkt,wkb
from shapely.wkb import loads
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

from shapely.geometry import Polygon
import numpy as np, pandas as pd, shapely.vectorized
from shapely.geometry import Point, Polygon

import numpy as np
from sklearn.neighbors import KDTree
from sklearn.neighbors import BallTree

load_dotenv()

False

# import from database

In [3]:
#--------------  connected PG ----------------#
system_info_config = {
    'host' : os.environ.get("SYSTEM_INFO_HOST"),
    'port' : os.environ.get("SYSTEM_INFO_PORT"),
    'user' : os.environ.get("SYSTEM_INFO_USER"),
    'password' : os.environ.get("SYSTEM_INFO_PASS"),
    'database' : os.environ.get("SYSTEM_INFO_DB")
}
print(system_info_config)

db_connection_url = f"postgresql://{system_info_config['user']}:{system_info_config['password']}@{system_info_config['host']}:{system_info_config['port']}/{system_info_config['database']}"
db_connection_url = 'postgresql://system:FJNCEHfV@10.10.10.200:5432/system'
conn = create_engine(db_connection_url)
sql = "select * from server_info"
df_sever_info = pd.read_sql_query(sql, conn)
df_sever_info

{'host': None, 'port': None, 'user': None, 'password': None, 'database': None}

,server_name,ip_address,hostname,server_type,operating_system,services_software,cpu_total,cpu_unit,memory_total,memory_unit,disk_total,disk_unit
0,360-Webserver-01,10.10.10.22,web1.bigdata.local,Virtual Server,Ubuntu 20.04 LTS,"Frontend , Nginx",8,core,8,GB,250,GB
1,360-Webserver-02,10.10.10.23,web2.bigdata.local,Virtual Server,Ubuntu 20.04 LTS,"Frontend , Nginx",8,core,8,GB,250,GB
2,Big Data Data node 1,10.10.10.14,cdhdn1.bigdata.local,Physical Server,Centos 7.9,"DataNode, Impala",24,core,128,GB,12,TB
3,Big Data Data Node 2,10.10.10.15,cdhdn2.bigdata.local,Physical Server,Centos 7.9,"DataNode, Impala",24,core,128,GB,12,TB
4,Big Data Data Node 3,10.10.10.16,cdhdn3.bigdata.local,Physical Server,Centos 7.9,"DataNode, Impala",24,core,128,GB,12,TB
5,CDH6-Master-Node-1,10.10.10.200,cdhmn1.bigdata.local,Virtual Server,Centos 7.9,"CM, Hue, Atlas, Ranger, Hive",16,core,64,GB,250,GB

In [20]:
import pandas as pd
import numpy as np

# Assuming df_sever_info is your original DataFrame
# Select specific columns and create a new DataFrame df_server
df_server = df_sever_info[['server_name', 'services_software', 'hostname', 'ip_address']]

# Add a new column 'Run_Number' with consecutive numbers starting from 1
df_server['Run_Number'] =  np.arange(1, len(df_server) + 1)

df_server =  df_server[['Run_Number', 'server_name', 'services_software', 'hostname', 'ip_address']]
df_server  = df_server.rename(columns={"Run_Number": "No", "server_name": "Name","services_software":"Service", "hostname":"Hostname","ip_address":"Private IP"})

# Display the DataFrame with the new column
# print(df_server)
df_server

C:\Users\Admins\AppData\Local\Temp\ipykernel_24696\2149002540.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_server['Run_Number'] =  np.arange(1, len(df_server) + 1)

,No,Name,Service,Hostname,Private IP
0,1,360-Webserver-01,"Frontend , Nginx",web1.bigdata.local,10.10.10.22
1,2,360-Webserver-02,"Frontend , Nginx",web2.bigdata.local,10.10.10.23
2,3,Big Data Data node 1,"DataNode, Impala",cdhdn1.bigdata.local,10.10.10.14
3,4,Big Data Data Node 2,"DataNode, Impala",cdhdn2.bigdata.local,10.10.10.15
4,5,Big Data Data Node 3,"DataNode, Impala",cdhdn3.bigdata.local,10.10.10.16
5,6,CDH6-Master-Node-1,"CM, Hue, Atlas, Ranger, Hive",cdhmn1.bigdata.local,10.10.10.200